<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Horario General</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Grupo Es Consultores</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tabla</a></li>
                    <li class="breadcrumb-item active">Horario General</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="mt-0 mb-3 text-center">Horario General</h3>

                <div class="row">
                    <div class="col-md-4">
                        <div class="btn-group mb-2 me-1">
                            <button type="button" class="btn btn-primary">Anterior</button>
                            <button type="button" class="btn btn-primary">Siguiente</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="week" class="form-control" id="semanaActual">
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group mb-2 me-1 float-end">
                            <button type="button" class="btn btn-primary">Mes</button>
                            <button type="button" class="btn btn-primary active">Semana</button>
                            <button type="button" class="btn btn-primary">Día</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h4 class="text-center" id="semanaText"></h4>
                </div>

                <table class="table table-bordered text-center" id="tableHours">
                    
                </table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end row-->