<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Plantillas</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Grupo Es Consultores</a></li>
                    <li class="breadcrumb-item active">Plantillas</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0 mb-1">LISTA DE PLANTILLAS DE META</h4>
                
                <button type="button" class="btn btn-primary mt-2 mb-3">Crear plantilla</button>

                <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre de la plantilla</th>
                            <th>Tipo de plantilla</th>
                            <th>Idioma</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>formulario_web</td>
                            <td>Marketing</td>
                            <td>Spanish</td>
                            <td>
                                <span class="fw-bold badge badge-soft-success py-1 fs-6">Activo</span>
                            </td>
                            <td>$320,800</td>
                        </tr>
                    </tbody>
                </table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end row-->