<div class="modal fade" id="viewProfile" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class=" m-2">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="text-center mb-3">
                    <img src="assets/images/users/avatar-5.jpg" class="rounded-circle avatar-lg" height="48"
                        alt="Rhonda D" />
                </div>
                <div class="text-center mb-3">
                    <h5 class="mt-0 mb-0 fs-18">Rhonda D</h5>
                </div>
                <div class="text-center mb-3">
                    <div class="avatar-sm fw-bold d-inline-block me-2" data-bs-toggle="modal"
                        data-bs-target="#voicecall" data-bs-dismiss="modal">
                        <a href="javascript: void(0);"
                            class="avatar-title rounded-circle border border-secondary text-dark">
                            <i class="bi bi-telephone"></i>
                        </a>
                    </div>
                    <div class="avatar-sm fw-bold d-inline-block me-2" data-bs-toggle="modal"
                        data-bs-target="#videocall" data-bs-dismiss="modal">
                        <a href="javascript: void(0);"
                            class="avatar-title rounded-circle border border-secondary text-dark">
                            <i class="bi bi-camera-video"></i>
                        </a>
                    </div>
                    <div class="avatar-sm fw-bold d-inline-block me-2" data-bs-dismiss="modal" aria-label="Close">
                        <a href="javascript: void(0);"
                            class="avatar-title rounded-circle border border-secondary text-dark">
                            <i class="bi bi-chat-left-dots"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="accordion custom-accordionwitharrow" id="accordionExample">
                    <div class="card mb-1 shadow-none border-0">
                        <a href="#" class="text-dark" data-bs-toggle="collapse" data-bs-target="#about"
                            aria-expanded="true" aria-controls="collapseOne">
                            <div class="card-header border-0" id="headingOne">
                                <h5 class="m-0 fs-16">About
                                    <i class="uil uil-angle-down float-end accordion-arrow"></i>
                                </h5>
                            </div>
                        </a>
                        <div id="about" class="collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="card-body pt-0 text-muted">
                                <div class="row align-items-center ms-1">
                                    <div class="col-4 p-2"><i class="bi bi-telephone fs-18 me-2"></i>Phone</div>
                                    <div class="col-8 p-2 border-bottom">(415) 281 - 1649</div>
                                    <div class="col-4 p-2"><i class="bi bi-envelope fs-18 me-2"></i>Email</div>
                                    <div class="col-8 p-2 border-bottom">shreyu.abc@gmail.com</div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="text-dark" data-bs-toggle="collapse" data-bs-target="#files"
                            aria-expanded="true" aria-controls="collapseOne">
                            <div class="card-header border-0" id="headingOne">
                                <h5 class="m-0 fs-16">Media, Links and Docs
                                    <i class="uil uil-angle-down float-end accordion-arrow"></i>
                                </h5>
                            </div>
                        </a>
                        <div id="files" class="collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="card-body pt-0 text-muted">
                                <div class="d-inline-block me-2">
                                    <i class="bi bi-file-earmark-pdf h2"></i>
                                </div>
                                <div class="d-inline-block me-2">
                                    <i class="bi bi-file-earmark-word h2"></i>
                                </div>
                                <div class="d-inline-block me-2">
                                    <i class="bi bi-images h2"></i>
                                </div>
                                <div class="d-inline-block me-2">
                                    <i class="bi bi-file-earmark-ppt h2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>