<div class="h-100" data-simplebar>

    <!-- User box -->
    <div class="user-box text-center">
        <img src="assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle avatar-md">
        <div class="dropdown">
            <a href="javascript: void(0);" class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block"
                data-bs-toggle="dropdown">Nik Patel</a>
            <div class="dropdown-menu user-pro-dropdown">

                <a href="pages-profile.html" class="dropdown-item notify-item">
                    <i data-feather="user" class="icon-dual icon-xs me-1"></i><span>My Account</span>
                </a>
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i data-feather="settings" class="icon-dual icon-xs me-1"></i><span>Settings</span>
                </a>
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i data-feather="help-circle" class="icon-dual icon-xs me-1"></i><span>Support</span>
                </a>
                <a href="pages-lock-screen.html" class="dropdown-item notify-item">
                    <i data-feather="lock" class="icon-dual icon-xs me-1"></i><span>Lock Screen</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i data-feather="log-out" class="icon-dual icon-xs me-1"></i><span>Logout</span>
                </a>

            </div>
        </div>
        <p class="text-muted">Admin Head</p>
    </div>

    <!--- Sidemenu -->
    <div id="sidebar-menu">

        <ul id="side-menu">

            <!-- <li class="menu-title">Navigation</li> -->

            <li>
                <a href="/dashboard">
                    <i data-feather="home"></i>
                    <span> Inicio </span>
                </a>
            </li>

            <li class="menu-title mt-2">Apps</li>

            <li>
                <a href="#sidebarCustomer" data-bs-toggle="collapse">
                    <i data-feather="user"></i>
                    <span> Clientes </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarCustomer">
                    <ul class="nav-second-level">
                        <li><a href="/clientes-potenciales">Clientes Potenciales</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a href="/produccion">
                    <i data-feather="calendar"></i>
                    <span> Producción </span>
                </a>
            </li>

            <li>
                <a href="#sidebarChat" data-bs-toggle="collapse">
                    <i data-feather="user"></i>
                    <span> Chat </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarChat">
                    <ul class="nav-second-level">
                        <li><a href="/chat">Mi chat</a></li>
                        <li><a href="/envio-masivos">Envios Masivos</a></li>
                        <li><a href="/plantillas">Plantillas</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a href="#sidebarConfig" data-bs-toggle="collapse">
                    <i data-feather="settings"></i>
                    <span> Configuración </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarConfig">
                    <ul class="nav-second-level">
                        <li><a href="/frases-restringuidas">Frases restringuidas chat</a></li>
                        <li><a href="/lista-publicidad">Publicidad</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a href="#seguridad" data-bs-toggle="collapse">
                    <i data-feather="lock"></i>
                    <span> Seguridad </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="seguridad">
                    <ul class="nav-second-level">
                        <li><a href="/usuarios">Usuarios</a></li>
                        <li><a href="/modulos">Modulos</a></li>
                        <li><a href="/">Permisos</a></li>
                    </ul>
                </div>
            </li>

        </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>

</div>