<div class="row" style="margin-top: 1rem;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="header-title mt-0 mb-1">FUNCIÓN / LISTADO</h4>
                    <div class="d-flex" style="column-gap: 10px;" id="botonesNoRegistro">
                    </div>
                </div>
                <div class="w-100" style="border-bottom: 1px solid #d6d6d6; margin-bottom: 30px"></div>
                <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th class="cabecera" style="max-width: 100px;">Acción</th>
                            <th class="cabecera">Nombre</th>
                            <th class="cabecera">Función</th>
                            <th class="cabecera">Ícono</th>
                            <th class="cabecera">Clase</th>
                            <th class="cabecera">¿De registro?</th>
                            <th class="cabecera">Orden</th>
                            <th class="cabecera">Estado</th>
                        </tr>
                    </thead>
                    <tbody id="tablaFunciones">
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalFuncion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content position-relative">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formulario">
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" id="idFuncion" value="">
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="nombre">Nombre *</label>
                                <input type="text" class="form-input form-control requerido" name="nombre" id="nombre"
                                    placeholder="Nombre función" oninput="validarEntradasObligatorias()"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="funcion">Función *</label>
                                <input type="text" class="form-input form-control requerido" name="funcion" id="funcion"
                                    placeholder="Nombre función interna" oninput="validarEntradasObligatorias()"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="icono">Ícono</label>
                                <input type="text" class="form-input form-control" name="icono" id="icono"
                                    placeholder="Ícono de la función"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="clase">Clase</label>
                                <input type="text" class="form-input form-control" name="clase"
                                    id="clase" placeholder="Clase de la función"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="orden">Orden</label>
                                <input type="number" min="1" class="form-input form-control" name="orden"
                                    id="orden" placeholder="Orden de la función"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="clase">¿De registro?</label>
                                <div class="d-flex flex-row">
                                    <div style="margin-right: 20px;">
                                        <label class="form-label" for="customRadio1">SI</label>
                                        <input type="radio" id="customRadio1" name="customRadio" class="form-check-input" value="SI" checked="" onchange="manejarCambioRadio(event)">
                                    </div>
                                    <div>
                                        <label class="form-label" for="customRadio2">NO</label>
                                        <input type="radio" id="customRadio2" name="customRadio" value="NO" class="form-check-input" onchange="manejarCambioRadio(event)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" id="guardar" disabled>Guardar</button>
                </div>
            </form>
            <div class="position-absolute top-0 start-0 w-100 h-100"
                style="background: rgba(255, 255, 255, 0.3); z-index: 1040; display: none;" id="loaderContainer">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>